@font-face {
  font-family: "Coolvetica";
  src: url(coolvetica.ttf) format('truetype');
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url(FrankRuhlLibre-Regular.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  font-family: "Frank Ruhl Libre", 'Times New Roman', sans-serif;
  background-image: linear-gradient(to right top, #f7d961, #f2cb53, #edbe45, #e7b037, #e2a229, #df862c, #d66a33, #c9503a, #a52c4b, #731a50, #3c1548, #020731);
}

h1 {
  font-family: "Coolvetica", 'Arial', serif;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 2px;
}


h2 {
  font-family: "Coolvetica", 'Arial', serif;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  font-size: 24px;
  letter-spacing: 1px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-family: "Coolvetica", 'Arial', serif;
  font-size: 20px;
  letter-spacing: 1px;
}

em {
  font-style: normal;
  color: #a52c4b;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  color:#F7D961;
}


nav {
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 17px;
  width: 100%;
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  width: 60%;
  padding: 6px 0;
}

nav ul li {
  flex: 1;
  list-style-type: none;
  text-decoration: none;
  padding: 12px 24px;
  letter-spacing: 1px;
  text-align: center;
}

nav ul li a {
  color: #ffffff;
  position: relative;
}

nav ul li a:hover {
  text-decoration: none;
  color: #F7D961;
}

.container p {
  font-size: 16px;
  line-height: 30px;
}



#landing {
  height: 60vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#landing .container {
  margin: 15% 10%;
  width: 60%;
}

#about {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#about .container {
  margin: 15% 0 10%;
  width: 60%;
}

#about .row {
  margin: 0;
}

#about .row .left, #about .row .right {
  flex: 1;
}

#about .right p {
  margin-top: 5%;
}

#photo {
  padding: 0;
}

#photo img {
  width: 100%;
}

#education {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#education .container {
  margin: 10% 10% 0;
  width: 80%;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 8%;
}

.row .left {
  flex: 2;
  text-align: right;
  padding-right: 5%;
}

.row .right {
  flex: 3;
  text-align: left;
  padding-left: 5%;
}

#experiences {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experiences .container {
  margin: 15% 10% 0;
  width: 60%;
}

#experiences2 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experiences2 .container {
  margin: 5% 10% 0;
  width: 80%;
}

#experiences2 h5 {
  color: #a52c4b;
}

#projects {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects .container {
  margin: 15% 10% 0;
  width: 60%;
}

#projects2 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects2 .container {
  margin:  5% 10% 0;
  width: 80%;
}

#projects2 h5 {
  color: #a52c4b;
}

#portfolio {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio .container {
  margin: 15% 10% 25%;
  width: 60%;
}

#footer {
  background-color: #f9f9f9;
  color: #020731;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer .container {
  margin: 4% 10%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer em {
  color: #020731;
  text-transform: uppercase;
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials img {
  width: 32px;
  margin: 10px;
}
