@font-face {
  font-family: "Poppins";
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: "Noto Serif SC";
  src: url(NotoSerifSC/NotoSerifSC-Regular.otf);
}

@font-face {
  font-family: "Noto Serif SC";
  src: url(NotoSerifSC/NotoSerifSC-Bold.otf);
  font-weight: bold;
}

body {
  font-family: "Noto Serif SC", 'Times New Roman', Times, serif;
  color: #19282f;
  margin: 0;
  padding: 0.1px;
}

h1, h2, h3 {
  font-family: "Noto Serif SC", "Times New Roman", Times, serif;
  text-align: center;
}

a {
  color: #59575a;
  text-decoration: none;
}

a:hover {
  color: #EF3E36;
  text-decoration: line-through;
}

.emphstyle {
  font-style: italic;
}

nav {
  background-color: white;
  font-size: 17px;
  width: 100%;
  margin: 0;
  position: fixed;
}

nav ul {
  margin: 0 auto;
  display: flex;
  max-width: 400px;
  padding: 6px 0;
}

nav ul li {
  flex: 1;
  list-style-type: none;
  text-decoration: none;
  padding: 12px 24px;
  letter-spacing: 1px;
  text-align: center;
}

nav ul li a {
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: #999999;
}

#home {
  background-image: url("../media/DSC00541.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#home .hover {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#home .text {
  flex: 1;
  width: 600px;
  color: white;
}

#home .text h1 {
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: white;
}

.introtext {
  width: 600px;
  margin: auto;
  text-align: justify;
}

#about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 35px 132px;
  color: #59575a;
}

#about .col {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-width: 270px;
  max-width: 500px;
  margin: 35px;
  text-align: justify;
  align-items: center;
}

#about .col h2, .coltext {
  width: 100%;
  display: block;
  justify-content: center;
}

#about .col h2 {
  margin-top: 0;
  color: #EF3E36;
}

#about .img {
  width: 100%;
}

#portfolio {
  padding: 35px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portfolio h1 {
  color: #EF3E36;
  text-align: center;
}

#portfolio .row {
  display: flex;
  justify-content: center;
}

#portfolio .feature {
  flex: 1;
  min-width: 270px;
  max-width: 500px;
}

#portfolio .feature img {
  width: 100%;
}

#portfolio a {
  margin: 35px;
}

#portfolio a:hover {
  text-decoration: none;
}

.seemore {
  text-align: center;
  width: 150px;
  margin: 35px auto;
  border-radius: 35px;
  border: solid 4px #EF3E36;
  padding: 12px 24px;
  color: #EF3E36;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 1px;
}

.seemore:hover {
  background-color: #EF3E36;
  text-decoration: underline;
  color: white;
}

#contact {
  background-size: cover;
  background-color: #242424;
  padding: 35px;
  text-align: center;
}

#contact .contactcontent {
  margin: 35px;
}

#contact p {
  margin: 0;
}

#contact a {
  color: #999999;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

#contact a:hover {
  color: #f8a800;
  font-style: italic;
}

#contact h1 {
  color: #EF3E36;
}

.workimgs {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.workimg {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #faf5f7;
}

.workimg img {
  flex: none;
  margin: 0;
}

.desc {
  padding: 35px;
  color: black;
}
.desc h1 {
  padding: 35px;
  margin: 0;
}

.desc h1::first-letter {
  color: #f8a800;
  font-size: 42px;
  text-decoration: underline;
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  margin: 35px auto;
}

.inforow {
  flex: 1;
}

.info h4 {
  margin: 0;
  color: #EF3E36;
}

.info h5 {
  margin: 0 0 12px 0;
  font-weight: normal;
}

.text {
  width: 720px;
  margin: 12px auto;
  text-align: justify;
}

.process {
  padding: 35px;
  color: #59575a;
}

.process h2, .process h3 {
  margin: 0 0 12px 0;
  color: #f8a800;
  text-align: center;
}

.tasks {
  background-color: white;
  padding: 35px;
  color: #000000;
}

.tasks tr td:first-child {
  width: 24px;
  font-size: 32px;
  color: #cf1c24;
  font-weight: bold;
  text-align: left;
  font-family: "Poppins", Arial, Sans-serif;
}

.a {
  background-color: #59575a;
  color: #f0f0f0;
}

.b {
  background-color: white;
  color: #59575a;
}

.c {
  color: #59575a;
  background-color: #faf5f7;
}

.b h3, .c h3 {
  color: #EF3E36;
}

.step {
  width: 720px;
  margin: 35px auto 70px;
}

.step img {
  width: 100%;
}

.step2 {
  margin: 35px auto 70px;
}

.sketches {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.sketches img {
  flex: 1;
}

.examples {
  max-width: 900px;
  margin: auto;
}

.examples h3, .examples h4, .example h5 {
  text-align: center;
  margin: 0 0 6px 0;
}

.examples h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

.examples h5 {
  color:#f8a800;
}

.example {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  margin-bottom: 105px;
}

.example:first-of-type {
  margin-top: 105.5px;
}

.exampleimg {
  max-height: 300px;
  padding: 0;
}

.exampleimg img {
  width: 100%;
}

.exampletext {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-width: 400px;
  padding: 35px;
  color: #59575a;
  text-align: justify;
}

.exampletext p {
  max-width: 540px;
  margin: 0 auto;
}

.viewwork {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.button {
  border-radius: 35px;
  padding: 12px 24px;
  color: #EF3E36;
  letter-spacing: 1px;
  background-color: white;
  border: solid 4px #EF3E36;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
}

.button:hover {
  background-color: #EF3E36;
  color: white;
  text-decoration: underline;
}

.examples a:hover {
  text-decoration: none;
}

@media screen and (max-width: 900px) {



  .example {
    max-height: none;
    margin: 35px;
  }

  .exampleimg {
    max-height: none;
    max-width: 400px;
    margin: auto;
  }

  .exampletext {
    max-height: none;
    max-width: 720px;
    min-width: 200px;
    margin: auto;
  }

  .viewwork {
    margin-top: 12px;
  }

}
