@font-face {
  font-family: "Rubik";
  src: url(Rubik-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(Rubik-Medium.ttf) format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: "Rubik";
  src: url(Rubik-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Rubik";
  src: url(Rubik-Light.ttf) format('truetype');
  font-weight: lighter;
}

html {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", 'Arial', sans-serif;
  text-transform: lowercase;
  color: #383e56;
  background-color: #fff;
}

h1 {
  font-size: 120px;
}

p {
  font-size: 24px;
  line-height: 42px;
}



/* LINK STYLING */

.a_text {
  position: relative;
  text-decoration: none;
  color: #f6ab6c;
  font-weight: bolder;
  padding: 0 3px;
}

.a_text:before {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #f6efa6;
  opacity: 1;
  transition: all 0.3s;
  z-index: -1;
}

.a_text:hover {
  color: #383e56;
  transition: 300ms ease;
}

.a_text:hover:before {
  width: 100%;
}



/* NAVIGATION BAR */

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transition:300ms ease;
  background: transparent;
}

nav ul {
  display: flex;
  margin-right: 80px;
}

nav ul li {
  list-style: none;
  padding: 30px 15px;
  font-size: 24px;
}

nav a {
  color: #383e56;
  text-decoration: none;
  padding: 5px 15px;
  position: relative;
}

nav a:before {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #383e56;
  opacity: 1;
  transition: all 0.3s;
  z-index: -1;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before {
  width: 100%;
}

nav.scrolled{
  background-color: #383e56;
}

nav.scrolled a {
  color: #fff;
  position: relative;
}

nav.scrolled a:hover {
  color: #383e56;
}

nav.scrolled a:before {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #f6efa6;
  transition: all 0.3s;
  z-index: -1;
}

nav.scrolled a:hover:before {
  width: 100%;
}


/* LOAD ANIMATION */
.tag {
  transition: all 0.7s ease-in-out;
	opacity: 0;
	transform: translateY(20%);
}

.tag.in-view{
  opacity: 1;
	transform: translateY(0);
}


/* HOME PAGE */

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home_text {
  max-width: 200px;
  z-index: 1000;
  margin-left: 50px;
}

.home_text h1 {
  height: 420px;
}

.home_text p {
  width: 140%;
}

#web_image {
  max-width: 760px;
}

#web_image img {
  width: 100%;
}

.rect_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rect {
  width: 350px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  margin: 50px;
  transition: transform .3s;
}

.rect:hover {
  transform: scale(1.15);
}

.rect_internal {
  margin: 25px;
}

.rect p {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
}

.icon {
  width: 66px;
  border-radius: 12px;
  margin: 25px 0;
}

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.about_container p {
  text-transform: none;
  max-width: 1250px;
  margin: 25px 75px;
}

.article_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.article_text {
  width: 480px;
}

.article_container h3 {
  font-size: 14px;
  font-weight: lighter;
}


/* FUN PAGE */

.fun_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* CONNECT CONTAINER */

.connect_container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 120px;
}

.connect_text {
  width: 600px;
  text-align: right;
}

.phone {
  position: relative;
  height: 800px;
  width: 420px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone_screen {
  position: absolute;
  height: 760px;
  width: 380px;
  border-radius: 40px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone_screen h2 {
  margin-bottom: 25px;
}


.social_group {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.social_group:before {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 0px;
  content: '';
  background: #fff;
}

.social_group:after {
  position: absolute;
  width: 0px;
  height: 100%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  content: '';
  background: #fff;
  transition: all 0.3s;
}

.social_group:hover:after {
  width: 120px;
  background: #383e56;
}


.social_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1;
}

.social_group:hover .social_overlay {
  opacity: 1;
}

.social_overlay img {
  height: 40px;
}

.social_group .icon {
  margin-left: 50px;
}

.social_group h3 {
  margin-left: 10px;
}



/* WORK PAGE */

.work_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}


.work_text {
  max-width: 900px;
  margin: 150px 0 50px;
  text-align: center;
}

/* ---- button ---- */

.button {
  padding: 15px 25px;
  margin: 25px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline:0;
}

/* ---- isotope ---- */


/* ---- .element-item ---- */

.element-item {
  /* position: relative; */
  width: 350px;
  height: 475px;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  margin: 50px;
  transition: .3s;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item:hover {
  transform: scale(1.15);
}

.element-item p {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
}

.rect_internal {
  margin: 25px;
}

.button {
  padding: 15px 25px;
  margin: 25px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.button h3 {
  font-size: 18px;
  color: #fff;
}

.all-btn {
  background-color: transparent;
  border: solid 3px #383e56;
  padding: 12px 20px;
}

.all-btn h3 {
  color: #383e56;
}

.all-btn:hover {
  border-color: #dddfe8;
  background-color: #dddfe8;
}

.all-btn:hover h3 {
  color: #383e56;
}

.ux-btn {
  background-color: #e1cd00;
}

.ux-btn:hover {
  background-color: #f5f1cd;
}

.ux-btn:hover h3 {
  color: #e1cd00;
}

.web-btn {
  background-color: #df5e88;
}

.web-btn:hover {
  background-color: #ecd4dc;
}

.web-btn:hover h3 {
  color: #df5e88;
}

.work_tag {
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  border-radius: 24px;
  margin-bottom: 25px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 24px;
  margin-right: 12px;
}

.web-tag {
  background-color: #ecd4dc;
  color: #df5e88;
}

.web-tag .circle {
  background-color: #df5e88;
}

.ux-tag {
  background-color: #f5f1cd;
  color: #e1cd00;
}

.ux-tag .circle {
  background-color: #e1cd00;
}

.work_snippet {
  width: 100%;
  border-radius: 30px 30px 0 0;
}



/* SERVICE PAGE */
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
  background-color: #f9f9f9;
  border-radius: 30px;
  margin: 200px auto 100px;
}

.service-text {
  flex: 1;
  margin: 0 50px 0 100px;
}

.service-text h1 {
  font-size: 76px;
}

.service-img {
  flex: 1;
  /* width: 400px; */
  margin-right: 100px;
}

.service-img img {
  width: 100%;
}

a.more {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  width: 120px;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #DF5E88;
  margin: 25px 25px 25px 0;
  transition: 0.3s;
}

a.more h3 {
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

a.more:hover {
  background-color: #ecd4dc;
}


a.more:hover h3 {
  color: #df5e88;
}

a.subtle {
  width: 114px;
  padding: 12px 25px;
  background: transparent;
  border: 3px solid #383e56;
}

a.subtle h3 {
  color: #383e56;
}

a.subtle:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}


a.subtle:hover h3 {
  color: #383e56;
}

.service-container .rect_container {
  margin-bottom: 100px;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
